# Dependencies
node_modules
react-app/

# Production
dist
dist-ssr
*.local

# Environment
.env
.env.local

# Large backup files
*-orig.*
*-orig.png
*-orig.jpeg

# Logs & Editor
logs
*.log
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
scratch/
